/* General */
html, body{
	margin: 0;
	padding: 0;
}

body{

	padding-top : 40px;
}

hr {
	border-bottom : 1px solid #e6e6e6;
}

.clear{
	clear : both;
}

.highlight {
	background-color : yellow;
}

.left{
	float: left;
}

.no-shadow {
	text-shadow : none !important;
}

.relative{
	position:relative;
}

.right{
	float: right !important;
}

ul{
	margin: 0;
}

ul.inline{
	list-style-type: none;
}

	ul.inline li{
		display: inline;
	}
	
/* Main */
#main{
	padding :20px 0;
}

/* keywords */

.keyword {
	margin-left: 10px;
}

	.keyword *{
		text-shadow: none !important;
	}

/* Score Board */
.leader-info a{
	font-weight : bold !important;	
}	

.share-icon {
	height: 13px;
	padding: 0 2px 0 0;
	vertical-align: top;
}

/* Tweets */
p.tweet-text{
	font-family: tahoma;
	font-size: 14px;
}

.tweet-details p, .tweet-details a{
	font-size : 11px !important;
}	
	.tweet-details a, .tweet-text a{
		color : blue !important;
		text-decoration : underline;
	}

.score-up{
	color: green;
	font-weight: bold;
}

/* bootstrap overrides */
.alert-message {
	margin-bottom: 0 !important;
}
	.alert-message a{
		font-weight: normal;
	}
	
	.alert-message.block-message ul, .alert-message.block-message p {
		margin: 0 !important;
	}	

.btn.small {
	font-weight : normal !important;
	padding: 4px 2px;
}

.topbar .fill, .topbar-inner{
	background-color : #194F73;
	background-image : url('../images/title_bg.jpg');
	height : 43px;
}

