<div id="header span-12">
	
	<div id="info" class="box">
		<h3>So what's this then?</h3>
		<p>
			The Bird is the Word is a simple twitter-based game where entry is automatic! If you tweet any of the game phrases below you get 1 point. Champions of the game phrases below get to point to the leaderboard and boast about their verbosity, hooray!
		</p>
		<p class="left bottom"><a target="_blank" href="http://twitter.com/wesnolte">Follow me on twitter!</a></p>
		<p class="right bottom"><a class="retweet" target="_blank" href="http://thebirdisthewor.de/">I'm going to win me some boasting rights by tweeting with #salesforce and #tbitw!</a></p>
		<div class="clear"></div>
	</div>
</div>