<div id="info" class="span16">
	<div class="alert-message block-message warning">
		<a class="close" href="#">×</a>
		<h3>So what's this then?</h3>
		<p>
			The Bird is the Word is a simple twitter-based game where entry is automatic! If you <code>tweet any of the game phrases</code> you get <code>1 point</code>. Tweeple with the highest scores get to point to the leaderboard and boast about their verbosity, hooray!
		</p>
		<a href="https://twitter.com/tbitw_" class="twitter-follow-button">Follow @twitw_</a>
		<script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
	</div>
</div>