<div class="topbar">
  <div class="topbar-inner">
    <div class="container">
	  <%= image_tag("title.jpg") %>
	  <span  class="social-media right">
		<%= tweet_button(:text => "Join the competition at The Bird is the Worde!") %>
	  </span>	
	  <span class="social-media right">
		<div class="fb-like" data-href="http://thebirdisthewor.de" data-send="false" data-layout="button_count" data-width="80" data-show-faces="false" data-colorscheme="dark" data-font="tahoma"></div>
	  </span>
    </div>
  </div>
</div>