<div class="topbar">
  <div class="topbar-inner">
    <div class="container">
	  <%= image_tag("title.jpg") %>
	  <span class="brand right"><%= tweet_button(:text => "Join the competition at The Bird is the Worde!") %></span>
    </div>
  </div>
</div>